a {
 color:black;
 text-align: center;
 align-items: center;
}

h3,h5,h6,p {
    text-align: center;


}

h6 {
   color:red;


}
Card {
 display: flex;
 text-align: center;
 padding-left: 200px;

}

CardGroup {
    text-align: center;
    padding-left: 200px;
}

Card.Body {
    text-align: center;
    padding-left: 200px;
}

.container {
    align-items: center;
    padding-left: 20%;


}

.mb-1 {
  text-align: center;
  display:inline-table;
   padding: auto;
}
